@model Agence_de_Voyages.Models.Destination

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center">
    <h1>Create new Destination</h1>
</div>
<hr />
<div class="row p-4">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportCode" class="control-label"></label>
                <select asp-for="AirportCode" asp-items="Html.GetEnumSelectList<Airport>()" class="form-control"></select>
                <span asp-validation-for="AirportCode" class="text-danger"></span>
            </div>
                  <div class="form-group">
                <label class="control-label" for="LocalTransport">LocalTransport</label>
                <select asp-for="LocalTransport" class="form-control">
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="LocalTransport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceEstimate" class="control-label"></label>
                <input asp-for="PriceEstimate" class="form-control" />
                <span asp-validation-for="PriceEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="p-2">
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
